[Unit]
Description=Run shutdown check every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=shutdown_check.service

[Install]
WantedBy=default.target
